/* Definir variáveis CSS para as cores */
:root {
  --primary-color: #0052a9; /* Azul */
  --secondary-color: #6c757d; /* Cinza */
  --accent-color: #28a745; /* Verde */
}

body {
  background-color: var(--secondary-color); /* Cinza claro */
}

.container {
  max-width: 700px;
}

/* Sobrescrever botões do Bootstrap */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #0056b3; /* Azul mais escuro */
  border-color: #0056b3;
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: #5a6268; /* Cinza mais escuro */
  border-color: #5a6268;
}

.btn-success {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-success:hover {
  background-color: #218838; /* Verde mais escuro */
  border-color: #218838;
}

/* Links */
a {
  color: var(--primary-color);
}

a:hover {
  color: #0056b3; /* Azul mais escuro */
}

/* Cartões (cards) */
.card {
  border-color: var(--secondary-color);
}

.card-header {
  background-color: var(--primary-color);
  color: white;
}

/* Barra de navegação */
.navbar {
  background-color: var(--primary-color);
}

#navbar-brand {
  display: flex;
  gap: 10px;
}

/* Estilo para ícones minimalistas representando BRL */
.icon-brl::before {
  content: "\f155"; /* Código de exemplo do FontAwesome para ícone de moeda */
  font-family: "FontAwesome"; /* Certifique-se de incluir o FontAwesome no projeto */
  color: var(--primary-color);
}

#main-content {
  margin-bottom: 150px !important;
}

/* Animation for the result card */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#result .card {
  animation: fadeIn 0.5s ease-out forwards;
}
